<div class="row">
  <div class="col-xs-3">
    {{app-sidebar visits=attrs.visits}}
  </div>

  <main role="main" id="page-wrapper" class="col-xs-9">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          {{#each flashes.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}

          {{liquid-outlet}}
        </div>
      </div>
    </div>
  </main>
</div>

{{!outlet 'modal'}}
