<div id="wrapper">
  {{#if session.isAuthenticated}}
    {{app-menu customers=attrs.customers visits=attrs.visits logout="logout"}}

    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            {{liquid-outlet}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{liquid-outlet}}
  {{/if}}
</div>
