<td>{{input placeholder=(t 'employee.first_name') value=employee.first_name class='form-control'}}</td>
<td>{{input placeholder=(t 'employee.last_name') value=employee.last_name class='form-control'}}</td>
<td>{{input placeholder=(t 'employee.photo_url') value=employee.photo_url class='form-control'}}</td>
