@import "sb-admin-2";

@import url(http://fonts.googleapis.com/css?family=Qwigley&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);

.navbar-default {
  .danger {
    color: $state-danger-text;
  }
  .success {
    color: $state-success-text;
  }

  .navbar-brand {
    color: $brand-color;
    padding-left: .5em;
    font-size: 2em;
    padding-top: .3em;
  }

  .navbar-top-links {
    .dropdown-alerts {
      width: 400px;
      a {
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
    }
  }

  .sidebar-nav {
    h3 {
      color: $heading-color;
      padding-left: .7em;
    }
  }

  .employee-avatar-in-sidebar {
    @extend .employee-avatar-xs;
    @extend .pull-right;
    margin-top: -.35em;
  }
}

.employee-avatar-xs {
  @extend .img-circle;
  height: 2em;
}

.employee-avatar-in-visit {
  @extend .img-circle;
  @extend .img-thumbnail;
  height: 3em;
}

.employee-avatar-in-visit-list {
  @extend .employee-avatar-xs;
  margin-top: -1em;
  margin-bottom: -1em;
}


.visit-note-editor {
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 1em;
}

.table-item {
  @extend .table;
  @extend .table-hover;
  margin-top: 1em;
}

.row-item {
  .btn {
    opacity: .2;
  }

  &:hover .btn {
    opacity: 1;
  }
}

.col-item-separator {
  @extend .text-center;
  @extend .col-xs-1;
}
.col-item-name {
  @extend .col-xs-4;
}
.col-item-count {
  @extend .col-xs-1;
  @extend .text-right;
}
.col-item-price {
  @extend .text-right;
  @extend .col-xs-2;
}
.col-item-sum {
  @extend .text-right;
  @extend .col-xs-2;
}
.col-item-action {
  @extend .text-right;
  @extend .col-xs-1;
}

// legacy


h2 {
  padding-top: .2em;

  .avatar {
    width: 3em;
    height: 3em;
    top: -.5em;
    position: absolute;
  }
}

.top-nav {
  margin-bottom: 1em;
}

.navbar-brand {
  font-family: 'Qwigley', cursive;
}


a {
  color: $brand-color;
}

.sidebar-wrapper {
  z-index: 10;
  background: #fff;

  .sidebar {
    #main, body > div {
      margin-bottom: 0;
      margin-top: 0;
    }

    .nav-second-level li a {
      padding-left: 4em;
    }

  }
}

.well {
  h3 {
    margin-top: 0;
  }

  .avatar {
    width: 7em;
    height: 7em;
    position: absolute;
    right: 0;
    top: -1em;
    background-size: 7em 7em;
  }
}

table.table > tbody > tr > td {
  vertical-align: middle;
}

table.table > thead > tr > th {
  cursor: pointer;
}

.item-count > div {
  display: inline-flex;
}

.active {
  background-color: #eee;
}

.flash-container {
  position: fixed;
  right: 0;
  width: 30em;
  z-index: 20;

  .alert {
    margin-bottom: 1px;
  }
}

.typeahead-wrap {
  color: #000;
}


div.liquid-container, div.liquid-child{
  overflow: visible;
}

.padding-bottom {
  padding-bottom: 1em;
}

.truncated {
  width: 10em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#last-flash {
  overflow: hidden;
}
