@import "sb-admin-2";

@import url(http://fonts.googleapis.com/css?family=Qwigley&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);

.navbar-default {
  .navbar-brand {
    color: $brand-color;
    padding-left: .5em;
    font-size: 2em;
    padding-top: .3em;
  }

  .dropdown-alerts .alert {
    background: none;
    border: none;
  }

  .sidebar-nav {
    h3 {
      color: $heading-color;
      padding-left: .7em;
    }
  }
}

// legacy


h2 {
  padding-top: .2em;

  .avatar {
    width: 3em;
    height: 3em;
    top: -.5em;
    position: absolute;
  }
}

.top-nav {
  margin-bottom: 1em;
}

.navbar-brand {
  font-family: 'Qwigley', cursive;
}


a {
  color: $brand-color;
}

.sidebar-wrapper {
  z-index: 10;
  background: #fff;

  .sidebar {
    #main, body > div {
      margin-bottom: 0;
      margin-top: 0;
    }

    .nav-second-level li a {
      padding-left: 4em;
    }

  }
}

.well {
  h3 {
    margin-top: 0;
  }

  .avatar {
    width: 7em;
    height: 7em;
    position: absolute;
    right: 0;
    top: -1em;
    background-size: 7em 7em;
  }
}

table.table > tbody > tr > td {
  vertical-align: middle;
}

table.table > thead > tr > th {
  cursor: pointer;
}

.item-count > div {
  display: inline-flex;
}

.active {
  background-color: #eee;
}

.flash-container {
  position: fixed;
  right: 0;
  width: 30em;
  z-index: 20;

  .alert {
    margin-bottom: 1px;
  }
}

.typeahead-wrap {
  color: #000;
}


div.liquid-container, div.liquid-child{
  overflow: visible;
}

.padding-bottom {
  padding-bottom: 1em;
}
