@import "variables";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Qwigley&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);

h1, h2 {
  border: dotted 0 $heading-color;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  font-family: 'Libre Baskerville', serif;
  color: $heading-color;
}

h1 {
  padding-left: .5em;
}

h2 {
  padding-top: .2em;

  .avatar {
    width: 4em;
    height: 4em;
    position: fixed;
    top: -.5em;
  }
}

.top-nav {
  margin-bottom: 1em;
}

.navbar-brand {
  font-family: 'Qwigley', cursive;
}


a {
  color: $brand-color;
}

.sidebar {
  #main, body > div {
    margin-bottom: 0;
    margin-top: 0;
  }

  .nav-second-level li a {
    padding-left: 4em;
  }

  h3 {
    color: $heading-color;
    padding-left: .7em;
  }
}

.navbar-default {
  border: none;
}


.well {
  h3 {
    margin-top: 0;
  }

  .avatar {
    width: 7em;
    height: 7em;
    position: absolute;
    right: 0;
    top: -1em;
  }
}

table.table > tbody > tr > td {
  vertical-align: middle;
}

.item-count > div {
  display: inline-flex;
}

.active {
  background-color: #eee;
}

.flashMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.typeahead-wrap {
  color: #000;
}
