<form class="form-inline">
  <div class="form-group">
    <label>{{label}}:</label>
    {{input value=filterString class="form-control" placeholder=placeholder}}

    {{#if isWaiting}}
      {{fa-icon "refresh" spin=true}}
    {{/if}}
  </div>
</form>
