<h2 class="row">
  <div class="col-xs-10">
    {{t 'admin.visits.heading'}}
  </div>

  <div class="col-xs-2 text-right">
    <div class="input-group">
      <span class="input-group-addon">{{fa-icon "calendar"}}</span>
      {{pikaday-input value=selected class="form-control text-right" useUTC=true format="DD.MM.YYYY" onSelection=(action 'dateSelected')}}
    </div>
  </div>
</h2>
