.visit-current {
  @extend .col-lg-7;
  @extend .col-md-12;
}

.visit-history {
  @extend .col-lg-5;
  @extend .col-md-12;
}

.visit-navigation {
  @extend .col-xs-6;
  margin-bottom: 1em;
  a {
    @extend .btn;
  }

  &-back {
    a {
      @extend .btn-default;
    }
  }
  &-checkout {
    @extend .text-right;

    a {
      @extend .btn-primary;
    }
  }
}

///// LAYOUT //////
.visit-sells {
  @extend .list-group;

  .visit-sell-count,
  .visit-sell-price,
  .visit-sell-sum,
  .visit-sell-action {
    @extend .text-right;
  }

  .visit-sell {
    @extend .list-group-item;
    // @extend .row;

    &-item-name {
      @extend .col-xs-12;
      @extend .col-md-4;
    }
    &-count {
      @extend .col-xs-4;
      @extend .col-md-2;
    }
    &-price {
      @extend .col-xs-5;
      @extend .col-md-3;
    }
    &-sum {
      @extend .col-xs-3;
      @extend .col-md-2;
    }
    &-action {
      @extend .col-xs-12;
      @extend .col-md-1;
    }
  }
}

///// BUTTONS /////
.visit-sell {
  &-create, &-delete, &-update, &-edit {
    @extend .btn;
    @extend .btn-xs;
  }

  &-create {
    @extend .btn-success;
  }
  &-delete {
    @extend .btn-danger;

  }
  &-update {
    @extend .btn-success;
  }
  &-edit {
    @extend .btn-default;
  }
}

  input {
    @extend .text-right;
    @extend .form-control;
  }



.visit-note {
  @extend .col-xs-12;

  & > div {
    @extend .panel;
    @extend .panel-primary;
  }
  &-heading {
    @extend .panel-heading;
  }
  &-body {
    // @extend .panel-body;
  }
  &-editor {
    width: 100%;
    padding: 1em;
    border: 0;
    overflow: auto;
    outline: none;
    box-shadow: none;
  }
}
