<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {{#if isLoading}}
    <div class="text-center">
      {{fa-icon class="text-center" icon="spinner" pulse=true}}
    </div>
  {{else}}
    {{#each visits as |visit|}}
      {{x-customer/visits/visit visit=visit}}
    {{/each}}
  {{/if}}
</div>
